.img{
    height: 220px !important;
}
.service{
    margin: 0 auto !important;
    margin-top: 30px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px !important;
    transition: .8s;

    
}

.service:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.466), 0 6px 20px 0 rgba(0, 0, 0, 0.349);
    transform: scale(1.03);
 
}
.card{
    border: 0 !important
}

.card-tittle{
    color: rgb(3, 195, 209);
    font-size: 25px;
    margin-bottom:15px;
}